
.carousel-text {
    font-family: "Wix Madefor Display";
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.carousel-container1 {
   display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.carousel-container1 .carousel-item {
  position: relative;
  overflow: hidden; 
  border-radius: 30px;
}

.carousel-container1 .carousel-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to bottom, transparent 0%, #000 100%);
  pointer-events: none; 
}


