.parent {
display: grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: repeat(12, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
}

.div1 {
    grid-area: 2 / 3 / 3 / 7;
}

.div2 {
    grid-area: 3 / 3 / 4 / 5;
}

.div3 {
    grid-area: 3 / 5 / 4 / 7;
}

.div4 {
    grid-area: 4 / 3 / 5 / 7;
}

.div5 {
    grid-area: 5 / 3 / 8 / 7;
}

.div6 {
    grid-area: 8 / 3 / 9 / 5;
}

.div7 {
    grid-area: 9 / 3 / 12 / 7;
}

.div8 {
    grid-area: 4 / 1 / 9 / 3;
    border-color: 00377E;
    border-style: solid;
}
