.moviegrid {
  display: grid;
  grid-template-columns: 0.7fr 1fr 0 1fr 0.7fr;
  grid-template-rows: 0.1fr 0.2fr 0.5fr 0.7fr 0.2fr 0.7fr;
  grid-column-gap: 5px;
  grid-row-gap: 20px;
}

.moviediv1 {
  grid-area: 2 / 2 / 3 / 5;
  text-align: center;
  border-radius: 25px;
  background: #001e45;
  opacity: 0.5;
  color: white;
}
.moviediv2 {
  grid-area: 3 / 2 / 4 / 3;
  border-radius: 25px;
  background: #001e45;
  opacity: 0.5;
  color: white;
  padding: 10px;
}
.moviediv3 {
  grid-area: 3 / 4 / 4 / 5;
  border-radius: 25px;
  background: #001e45;
  opacity: 0.5;
  color: white;
  padding: 10px;
}
.moviediv4 {
  grid-area: 4 / 2 / 5 / 5;
  border-radius: 25px;
  background: #001e45;
  opacity: 0.5;
  color: white;
  padding: 10px;
}
.moviediv5 {
  grid-area: 5 / 2 / 6 / 5;
  border-radius: 25px;
  background: #001e45;
  opacity: 0.5;
  color: white;
  padding: 10px;
}
.moviediv6 {
  grid-area: 6 / 2 / 7 / 5;
  /* border-radius: 25px;
  background: #001e45;
  opacity: 0.5;
  color: white;
  padding: 10px; */
}
.moviediv7 {
  grid-area: 3 / 1 / 5 / 2;
  /* border-radius: 25px;
  background: #001e45;
  opacity: 0.5;
  color: white;
  padding: 10px; */
}
