body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1500px, 1fr));
  background-color: #00132D !important;
}

.watchlater-img {
  height: 300px;
}

.watchlater-card {
  background-color: #212529 !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease-in-out;
  color: white !important;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.watchlater-card-body {
  height: 175px;
  overflow: auto;
  margin: 10px;
}


.watchlater-card:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 0px #2196f3;
}

.g-4 .col:nth-child(3n+1) {
  page-break-before: always;
}


.remove-watchlater-btn {
  border: 1px solid red;
  color: white;
  background-color: red;
  border-radius: 10px;
  width: 100%;
  height: 2.5rem;
}

.remove-watchlater-btn:hover {
  border: 3px solid white;
}
