body {
  background-color: #00132D !important;
}

.watchlater-img {
  height: 300px;
}

.watchlater-card {
  background-color: #212529 !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease-in-out;
  color: white !important;
  margin: 10px;
}


.watchlater-card:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 0px #2196f3;
}
